@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
    }
  }
  
  @import "fonts";
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
  body {
    margin: 0;
  }

  img {
    min-width: 100%;
  }


  a {
    text-decoration: none;
  }

div {
  background: url("../img/b.jpg") 0 0 no-repeat;
}
h1 {
  font-family: "SF-UI-Text-Bold";
}

div.sss {
  padding: 14px 14px 14px 14px;
  font-style: normal;
  color: aliceblue;
  font-family: "SF-UI-Display-Medium";
  font-size: 24px;
}
